body{
  margin: 0px;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

h1{
margin-top: 0;
font-size: 50px;
font-family: 'Dancing Script', cursive;
color: #1aa3ff;
}

h2{
  color: #1aa3ff;
  font-weight: normal;
  line-height: 200%;
}

h3{
    color: #1aa3ff;
}


.top_container{
  background-color: #99ffeb;
  position: relative;
  padding-top: 100px;

}

.middle-container{

}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.my-pic{
  max-height: 400px;
  max-width: 400px;
}

.bottom-container{
background-color: #66bfbf;
margin-bottom: 0px;
line-height: 2;
bottom: 0px;

}

.top-cloud {

position: absolute;
right: 100px;
max-width: 200px;
max-height: 150px;

}

.bottom-cloud{

  position: absolute;
  left: 100px;
  max-width: 200px;
  max-height: 150px;

}

.writ-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.art-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
